.abo-main {
    margin: 20px 0px;
    width: 98.5vw;
    min-height: 100vh;

}

.abo-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abo-sec-0 {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.abo-sec-0 h1 {
    text-align: center;
    width: 200px;
    font-weight: 500;
    margin: 10px 0px;
    color: rgb(71, 58, 58);
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.abo-sec-0 h1::after {
    content: "";
    position: absolute;
    width: 199px;
    height: 32px;
    border-bottom: 2px solid rgb(100, 57, 57);
    margin-left: 5px;
    transform: translateX(-201px) translateY(10px);
    transition: transform 0.5s ease-in-out;
}

.abo-sec-0 h1:hover:after {
    transform: translateX(-201px) translateY(3px);
}

.abo-sec-0 p {
    font-size: 15px;
    margin: 10px 0px;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
}

.abo-sec-1 {
    margin: 20px 0px;
    padding: 10px 5px;
    width: 90%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background: linear-gradient(150deg, rgba(235, 229, 229, 0.2), rgba(131, 118, 118, 0.1));
}


/* carts */


.abo-car {
    width: 95%;
    min-height: 95%;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    row-gap: 40px;
    justify-items: center;
}

.abo-carts {
    width: 250px;
    min-height: 270px;
    background-color: white;
    box-shadow: 2px 3px 5px rgb(107, 92, 92);
    padding: 20px;
    border-radius: 5px;
}

.car-img {
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.car-con h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0px;
}

.car-con p {
    font-size: 0.9rem;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 10px 0px;
    line-height: 25px;
}



@media only screen and (max-width: 500px){
    .abo-sec-0{
        width: 80%;
    }
    .abo-car {
    width: 100%;
    min-height: 95%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    row-gap: 40px;
    justify-items: center;
}
.car-con h4 {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0px;
}
.car-con p {
    font-size: 0.7rem;
    font-weight: 400;
    word-spacing: 1px;
    margin: 10px 0px;
    line-height: 20px;
}
.car-img {
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.abo-carts {
    width: 250px;
    min-height: auto;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 3s ease-in-out;
}
.abo-carts:hover{
 transform: scale(1.1);
}
}
