.nav-sector{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(59, 51, 51);
        /* position: fixed;
        top: 20;
        width: 100%;
        z-index: 999; */

}
.nav-title{
    margin-left: 30px;
    width: 30%;
}
.nav-lis{
    width: 70%;
}
.nav-lis ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
}
.nav-lis ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: 300;
    font-size: 20px;
    margin: 3px 23px;
    padding: 9px 10px;

}