.contact-main {
    width: 99.8%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

.contact-container {
    width: 95%;
    min-height: 70vh;
    padding: 10px;
}

.contact-header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contact-header h2 {
    font-weight: 450;
    font-size: 2.3rem;
    cursor: pointer;
    width: 200px;
    color: rgb(28, 20, 20);
    text-align: center;
}

.contact-header h2::after {
    content: "";
    position: absolute;
    width: 165px;
    height: 32px;
    border-bottom: 2px solid rgb(100, 57, 57);
    margin-left: 5px;
    transform: translateX(-170px) translateY(12px);
    transition: transform 0.5s ease-in-out;
}

.contact-header h2:hover:after {
    transform: translateX(-170px) translateY(8px);
}

.contact-holebox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact-box {
    width: 80%;
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
    padding: 10px;
}

.contact-form {
    width: 50%;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info h3,
.contact-form h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

.contact-info p {
    width: 400px;
    margin: 10px 0px 0px 20px;
}

.contact-form-group {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
}

.contact-form-group label {
    width: 100px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(52, 32, 32);
}

.contact-form-group input,
.contact-form-group textarea {
    width: 70%;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.contact-btn button {
    border: 1px solid rgba(73, 53, 53, 0.4);
    padding: 4px 10px;
    outline: none;
    background: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 3px 3px 4px rgb(46, 36, 36);
    background-color: rgb(235, 225, 225);
    color: rgb(77, 65, 65);
    cursor: pointer;
}

.contact-btn button:hover {
    color: black;
}

.contact-btn {
    text-align: center;
}

.contact-btn button:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 2px rgb(46, 36, 36);
}

@media only screen and (max-width: 500px) {

    .contact-header {
        padding: 5px;
    }

    .contact-header h2 {
        font-weight: 400;
        font-size: 2.1rem;
        width: 180px;
    }
.contact-main {
    min-height:50vh ;
}
    .contact-container {
    min-height: auto;
}
    .contact-header h2::after {
        width: 158px;
        height: 32px;
        border-bottom: 2px solid rgb(100, 57, 57);
        margin-left: 5px;
        transform: translateX(-159px) translateY(9px);
        transition: transform 0.5s ease-in-out;
    }

    .contact-header h2:hover:after {
        transform: translateX(-159px) translateY(6px);
    }
    .contact-box {
    width: 100%;
    margin: 0px 0px;
    padding: 10px 0px;
    display: block;
    text-align: center;
    justify-content: space-between;
}
.contact-info {
    width: 100%;
    padding: 0px;
}
.contact-info p{
display: none;
}
.contact-form {
    width: 100%;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-btn{
    margin-left: 90px;
}
}