.home-sec{
    width: 99%;
    height: 80vh;
    display: flex;
}
.home-sec-lef,.home-sec-rig{
    width: 50%;
}

@media only screen and (max-width: 500px){
    .home-sec{
        display: block;
        text-align: center;
        height: auto;
    }
    .home-sec-lef,.home-sec-rig{
    width: 100%;
}
}