.contact-container-nav {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav-contact-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.nav-contact-head h2{
    font-size: 1.9rem;
    font-weight: 400;
    padding: 10px;
    margin: 10px 0px;
    color: rgb(47, 29, 29);
    cursor: pointer;
}
.nav-contact-head p{
    letter-spacing: 0.5px;
    font-weight: 300;
}
.contact-container-nav h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.contact-form-nav {
    width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form-nav input,
.contact-form-nav textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.contact-form-nav input:focus,
.contact-form-nav textarea:focus {
  border-color: #332020;
  box-shadow: 0 0 5px rgba(57, 35, 35, 0.3);
}

.contact-form-nav textarea {
  resize: none;
}

.contact-form-nav button {
    width: 80%;
  padding: 12px;
  background: #302121;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form-nav button:hover {
  background: #eeeff0;
  color: #332020;
}
